<h2>Ingredients</h2>
<div id="list">
    {{#each ingredients}}
        <form id={{this._id}} class="toggleIngredient" action="toggleIngredient" method="POST">
            <span> {{this.name}}: ${{this.cost}} </span>
            <input type="button" class="edit" value="Edit">
            {{#if this.stock}}
                <input type="submit" value="In Stock" class="toggle">
            {{else}}
                <input type="submit" value="Out of Stock" class="toggle">
            {{/if}}
        </form>
    {{/each}}
</div>
<h3>New Ingredient</h3>
    <form id="newIngredient" action="newIngredient" method="POST">
        Name: <input type="text" name="name"/>
        Cost: $<input type="text" name="cost"/>
        <input type="submit" value="Add"/>
    </form>