<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Include Bootstrap CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/base.css">

	<title>Kitchen</title>

  </head>
  <body>
    <h1>Chris' Kitchen</h1>
      <a href="/ingredients">See ingredients</a><br>
      <a href="/order">Make an order</a><br>
      <a href="/kitchen">Check out the kitchen</a>
    <br><br>
    {{{body}}}
  </body>
  <!-- Include JQuery & Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='javascripts/main.js'></script>
</html>